/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(166,159,232);
  background: linear-gradient(16deg, rgba(166,159,232,1) 2%, rgba(255,255,255,1) 43%, rgba(0,0,0,1) 92%);}

.container .bigText {
  margin: 50px;
  color: rgb(249, 249, 249);
  font-size: 50px;
}

/* My styles */

#output {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 90%;
  
}
.card {
  width: 100%;
  background-color: rgba(240, 248, 255, 0.951);
  margin-left: 10px;
  padding: 10px;
}

